/*START STRUCTURE*/
 body {
  margin: 0;
  background:#fff;
  font-size:1em;
 }

 section,div,h1,h2,h3,h4 {
  margin:0;
  padding:0;
 }

.clearfix:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}


 div.main-at757 {
   margin:20px auto;
   width:900px;
   border:1px solid #000;
 }

  div.main-at757 div#main-content {
  margin-left:105px;
  position:relative;
 }
  
  div.main-at757 div.accord {  /* this is the 4 main sections */ 
    display:none;
    margin-bottom:20px;
  }

  div.main-at757 div#step1 {
    display:block;
  }
.accord#step2,.accord#step3,.accord#step4 {
    margin:2px 0 22px 13px;
  }

div.main-at757 #mastHead {
	background-repeat:no-repeat;
	text-align:right;
	height:105px;
}

div.main-at757 #header {
	background-image: url(../img/header_laptop.jpg);
	background-repeat: no-repeat;
	height: 244px;
	padding: 0 0 5px 325px;
}

div.main-at757 #formFineprintbox {
	width: 456px;
	margin: 5px 0 5px 24px;
	text-align: left;
}

div.main-at757 #footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: 200;
	color: #FFF;
	margin: 0 auto;
	padding: 26px 0 10px 18px;
	background-color: #000;
}

div.main-at757 .btn-continue {
	width: 124px;
	height:22px;
	color:#fff;
    background-color: rgb(255, 203, 5);
	border-radius: 3px;
	text-align: center;
	padding-top:8px;
	text-transform: uppercase;
	font:bold 12px Arial;
	cursor: pointer;
}

#btn-step1 {
	position:relative;
	left:580px;
	top:28px;
}
/*END STRUCTURE*/

/*START DROPDOWNS*/

#step1Dropdowns {
}
#step1Dropdowns h3 {
	display:inline-block; margin:4px 0 10px 10px; 
	font-family: Arial, Helvetica, sans-serif; font-size: 12px; 
	font-weight: 600; color: #585656; vertical-align:middle;
	padding:2px 0 8px 26px;
	display:inline;
}
#step1Dropdowns h3 {
	background-image:url(../img/up_arrow_circle.gif);
	background-repeat:no-repeat;
  	cursor: pointer;
  }
  #step1Dropdowns h3.chosen {
	  background-image:url(../img/down_arrow_circle.gif);
  }
  #subcontent div.toggs {
   /* width:750px;*/
  	margin:30px auto;
  	display:none;
  }
    #subcontent div div {
  	display:block;
  }
  #subcontent div.open {
  	display:block;
	margin:0 auto;
  }
  #subcontent div.faq {
  	width:800px;
  	margin-left:-20px;
  }
  #subcontent div#othersubs-holder {
  	margin-left:-60px;
  }  
  #subcontent div#othersubs-holder img {
  	cursor:pointer;
  }
/*END DROPDOWNS*/

/*BEGIN COMPARE TABLE*/
#compare_table{width:550px; margin:15px 0 0 85px;}
.centered{text-align:center; vertical-align:middle;}
#compare_table td{border-bottom:1px solid #d5d5d5; padding:6px;}
#compare_table tr.top td{padding:6px; text-transform:uppercase; border:none;}
#compare_table tr.top{font:11px arial, Arial, Helvetica, sans-serif; margin:0; color:#666666; font-weight:500; line-height:140%;}
#compare_table td.side{font:11.5px arial, Arial, Helvetica, sans-serif; margin:0; color:#000000; font-weight:normal; line-height:140%;}
/*END COMPARE TABLE*/

/*BEGIN FONT STYLES*/
.step-title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height: 20px;
	font-weight:500;
	text-transform:uppercase;
	text-decoration:none;
	vertical-align:middle;
	color:#FFF;
	background: #000;
	width:690px;
	padding-left:20px;
	margin-bottom:15px;
}

#step2-title {
	background-color:#4D4D4F;
}
#step3-title {
	background-color:#79797A;
}
#step4-title {
	background-color:#A2A2A3;
}

#headerText {
	font-family:"nyt-cheltenham", arial;
	font-size:35px;
	font-weight:200;
	line-height:35px;
	color:#333;
	padding:38px 0 0 0;
}
#headersubText {
	font-family:"nyt-gotham", sans-serif;
	font-size:21px;
	font-weight:100;
	line-height:35px;
	color:#ff6900;
}
.content {
	width: 100%;
	margin: 5px auto;
	font-family: "nyt-gotham", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 21px;
	color: #555;
	padding: 4px 0 20px 0;
	text-align: left;
}
.accord#step4 h1 {
	font-family:nyt-franklin-gothic, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:500px;
	color:#000;
	text-transform:uppercase;
	line-height:24px;
}
.accord .yourOrder h2 {
	font-family:nyt-franklin-gothic, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:500px;
	color:#000;
	text-transform:uppercase;
	line-height:22px;
}
.accord .yourOrder h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#000;
}
.accord#step4 h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000;
	float:right;
	margin:4px 103px 0 0;
}
sup {
	font-size:14px;
	height:0;
	line-height:1;
	position:relative;
	padding:0 0 0 2px;
}
.finePrint {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #444;
	line-height: 12px;
}
#submitFineprint {
	width: 435px;
	padding: 20px 0;
	color: #808080;
	font-size: 10px;
}
div#footer ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: 100;
	line-height: 16px;
	color: #fbf8f8;
	list-style:none;
}
.footerLinks {
	float:left;
	margin-right:10px;
}
.footerLinks a {
	color:#fbf8f8;
	text-decoration:none;
}
/*END FONT STYLES*/

.clearFloat {
	clear:both;
}

/* FAQ*/ 
      #faq-holder {
        margin-left:-20px;
        padding-top:14px;
      }

      #faq-holder h2 {
        font:22px Georgia,serif;
        margin-bottom:16px;
      }

      div#faqbox {
        display:table;
        width:100%;
      }

      #faqbox .leftCol {
        width:390px;
        margin-right:20px;
        float:left;
      }

      #faqbox .rightCol {
        width:380px;      
        float:left;
      }

      #faqbox h4 {
        font:bold .72em Arial;
        text-transform: uppercase;
      }

      #faqbox p {
        color:#595959;
        line-height: 18px !important;
        font:12px Georgia;
        margin:8px 0 25px 0;
      }

      #faqbox img {
        margin-bottom:14px;
      }
/* end of FAQ */ 

/*BEGIN VARIATION 2 CSS*/
#main-at757-var2 #main-content {
	margin:0 0 0 290px;
	padding:0 0 60px 0;
}
#main-at757-var2 .step-title#step2-title,#main-at757-var2 .step-title#step3-title,#main-at757-var2 .step-title#step4-title {
	display:none;
}
#stepsHeader {
	font-family:nyt-franklin-gothic, Arial, Helvetica, sans-serif;
	font-size:13px;
	border-bottom:1px solid #CCC;
	margin:10px 0 0 22px;
}
#stepsHeader .active {
	color:#6e6c6c;
	display:inline;
}
.step {
	color:#c0bfbf;
	display:inline;
}
.numberCircle {
  background: #cccccc;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  color: #ffffff;
  display: inline-block;
  font-size:12px;
  font-weight: bold;
  line-height: 1.6em;
  margin: 5px 6px 17px 7px;
  text-align: center;
  width: 18px;
  height:18px; 
}
.numberCircleactive {
  background: #6e6c6c;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  color: #ffffff;
  display: inline-block;
  font-size:12px;
  font-weight: bold;
  line-height: 1.6em;
  margin: 5px 6px 17px 7px;
  text-align: center;
  width: 18px;
  height:18px; 
}
#main-at757-var2 #main-content .step-title {
	width: 180px;
	text-align: left;
	padding: 3px 0 3px 12px;
}
#main-at757-var2 #main-content #step1 #offer-trial-radios #btn-step1 {
	float: left;
	position: inherit;
	display: inline;
	margin: 0 22px 0 0;
}
#main-at757-var2 #main-content #step1 #offer-trial-radios #formFineprintbox {
	width: 599px;
	line-height: 11px;
	height: 50px;
	margin: 14px 0 0 0;
}
#main-at757-var2 #main-content #compare_table {
margin:0 auto;
}
#main-at757-var2 #main-content #subcontent div.faq {
	width: 800px;
	margin-left: -240px;
}
#main-at757-var2 #main-content #subcontent div#othersubs-holder {
margin-left: -10px;
}
#main-at757-var2 #main-content #subcontent div#othersubs-holder h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:800;
	color:#000;
}
#main-at757-var2 #main-content #subcontent div#othersubs-holder h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:500;
	color:#000;
}